@model Proyecto_Web.Entities.MembresiaEnt
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("EditarMembresia", "Membresia", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-xl-12">
            <div class="card card-default">
                <div class="card-header">
                    <h2>Editar Membresia</h2>
                </div>
                @if (ViewBag.MsjPantalla != null)
                {
                    <div style="color:white" class="alert alert-primary" role="alert">
                        @ViewBag.MsjPantalla
                    </div>
                }
                <div class="card-body">


                    @Html.HiddenFor(model => model.IdMembresia)

                    <div class="form-group">
                        @Html.TextBoxFor(m => m.TipoMembresia, new { @type = "text", @class = "form-control input-lg", @placeholder = "Nombre" })
                    </div>

                    <div class="form-group">
                        @Html.TextAreaFor(m => m.PrecioMembresia, new { @type = "text", Style = "heigth:100px", @class = "form-control input-lg", @placeholder = "Descripción" });  
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
                    </div>

                </div>
            </div>
        </div>
    </div>

}
