<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gimnasio SVAM</title>
    <!-- Styles -->
    <link href="~/WebStyles/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="~/WebStyles/css/lib/themify-icons.css" rel="stylesheet">
    <link href="~/WebStyles/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="~/WebStyles/css/lib/helper.css" rel="stylesheet">
    <link href="~/WebStyles/css/style.css" rel="stylesheet">
</head>

<body  class="bg-primary">

    <div style="background-color: #343957;" class="unix-login">
        @RenderBody()
        
    </div>

</body>

</html>